*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
  background: #edecec76;
}

body::-webkit-scrollbar {
  display: none;
}

.container-main {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  padding: 1.2rem 0;
  background-image: linear-gradient(20deg, #9d4edd, #dabfff, #9d4edd);
  color: #fff;
  position: fixed;
  width: 100%;
}

.header--controls {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-right: 2rem;
}

.tablinks {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1.8rem;
}

.tablinks:active,
.tablinks:hover {
  background-color: #f9f9fa39;
}

.main {
  padding: 10rem 2rem 4rem 2rem;
}

.header--name {
  font-size: 3.4rem;
  font-weight: 700;
  padding-left: 2rem;
}

.form {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.5fr;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 3rem;
}

.input-grp label {
  font-size: 1.4rem;
}

.input-grp input,
.input-grp select {
  margin-top: 1rem;
  width: 93%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
}

.input-grp select {
  width: 100%;
}

.input-grp-date {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.searchExpDate {
  width: 25%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
}

.dateSpan {
  margin: 0 0.5rem;
  font-size: 1.4rem;
}

.catInputFiled {
  width: 65%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
}

.filterExpForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.categoryForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filterExpForm label {
  font-size: 1.4rem;
}

.filterExpForm select {
  width: 65%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
}

.CategoryFilterForm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 3rem;
}

#catInputUpdate {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid #a8a7a7;
  border-radius: 0.3rem;
  padding: 0 1rem 0 0;
  margin: 0 auto;
}

.input-grp-filter {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(0.5rem);
}

.modal {
  background-color: #ffffff;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 0 0 15px #00000033;
  position: absolute;
  transition: all.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 50%;
}

.formUpdate-input-grp input,
.formUpdate-input-grp select {
  width: 96%;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.formUpdate-input-grp select {
  width: 100%;
}

.formUpdate-input-grp label {
  font-size: 1.4rem;
}

.modal-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.edit-input {
  padding: 0.8rem;
  border: none;
  background: transparent;
  font-size: 1.4rem;
  outline: none;
}

.submit-btn {
  font-size: 1.2rem;
  font-weight: 900;
  border: none;
  background: #4848e0;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.1rem 0.5rem;
  cursor: pointer;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border: 0.1rem solid #989898;
  margin-bottom: 2rem;
}

.table-head th,
.body-row td {
  border: 0.1rem solid #989898;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center;
}

.table-head th {
  background-image: linear-gradient(to bottom, #cfaffc, #9d4edd);
  color: #fff;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  vertical-align: middle;
  margin-left: 5px;
}

.page-text {
  font-size: 1.2rem;
  margin: 0 0.8rem;
}

.asc .arrow {
  border-bottom: 5px solid #ffffff;
}

.desc .arrow {
  border-top: 5px solid #ffffff;
}

.cat-action {
  width: 30rem;
}

.cat-index {
  width: 10rem;
}

.total {
  font-size: 1.6rem;
  text-align: left;
  margin-top: 2rem;
}
.gradiant-btn {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  background-image: linear-gradient(to bottom, #cfaffc, #9d4edd);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.add-btn {
  align-self: end;
}

.update-btn {
  margin-top: 1.5rem;
}

.gradiant-btn:hover {
  background-image: linear-gradient(to bottom, #9d4edd, #9d4edd);
  transform: scale(1.02);
}
.form-cat {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-bottom: 2rem;
}
.catInputAdd,
.catNameSearch {
  width: 30rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  border: 1px solid #ccc;
  margin-right: 1rem;
}
.label-cat {
  font-size: 1.4rem;
}
.action-btn {
  padding: 0.8rem 1.6rem;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;
  color: #fff;
}

.delete-btn,
.cancel-btn {
  background-color: #e74c3c;
  margin-right: 1rem;
}

.edit-btn {
  background-color: #0ff10f;
}

.save-btn {
  background-color: #3498db;
}

.hidden {
  display: none;
}

.cat-index {
  width: 10rem;
}
.cat-action {
  width: 30rem;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 64em) {
  .catInputFiled {
    width: 60%;
  }
  .filterExpForm select {
    width: 60%;
  }
  .searchExpDate {
    width: 22%;
  }
  .dateSpan {
    margin: 0 0.1rem;
  }
}

@media only screen and (max-width: 48em) {
  html {
    font-size: 43.7%;
  }
  .add-btn {
    border-radius: 0.5rem;
  }
  .filterExpForm {
    grid-template-columns: repeat(2, 1fr);
  }
  .input-grp-date {
    grid-column: span 2;
  }
  .searchExpDate {
    width: 25%;
  }
  .cat-action {
    width: 25rem;
  }
}

@media only screen and (max-width: 34.36em) {
  .form {
    grid-template-columns: 1fr 1fr;
  }
  .add-btn {
    width: 100%;
    grid-column: span 2;
  }
  .table-head th,
  .body-row td {
    font-size: 1.2rem;
    padding: 0.4rem 1rem;
  }
  .action-btn {
    padding: 0.6rem 1rem;
    font-size: 1rem;
  }
  .header--name {
    font-size: 3rem;
  }
  .header--controls {
    gap: 2rem;
    padding-right: 1.8rem;
  }
  .tablinks {
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
  }
  .main {
    padding: 8rem 2rem 4rem 2rem;
  }
  .input-grp-filter {
    flex-direction: column;
    align-items: start;
  }
  .filterExpForm select {
    width: 98%;
  }
  .catInputFiled {
    width: 93%;
  }
  .searchExpDate {
    width: 29%;
  }
  .catInputAdd,
  .catNameSearch {
    width: 20rem;
    padding: 0.5rem;
  }
  .cat-action {
    width: 12rem;
  }
  .edit-input {
    padding: 0.5rem;
    font-size: 1.2rem;
  }
  .submit-btn {
    font-size: 0.7rem;
    border-radius: 0.3rem;
    padding: 0.1rem 0.4rem;
  }
}

@media only screen and (max-width: 23.43em) {
  html {
    font-size: 31.32%;
  }
  .input-grp input,
  .input-grp select {
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .table-head th,
  .body-row td {
    font-size: 1.1rem;
    padding: 0.4rem 1rem;
  }
  .action-btn {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem;
  }
  .delete-btn {
    margin-right: 0.5rem;
  }
  .header--name {
    font-size: 2.6rem;
  }
  .header--controls {
    gap: 1.2rem;
    padding-right: 1.8rem;
  }
  .tablinks {
    font-size: 1.4rem;
    padding: 0.3rem 0.8rem;
    border-radius: 0.3rem;
  }
}
